{% extends 'base.html' %}
{% block content %}

<style>
#posts{
    float: left;
    background-color: black;
    color:white;
    padding: 20px;
    margin: 1px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: transparent;
    height: 460px;
    width: 350px;
    max-height: 1000px;
}


body{
    padding: 0px;
    font-family: 'helvetica';
    background-color: black;
    
}

h1{
    color: white;
    text-align: center;
}

h2{
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
}

h4{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}
ul{
    list-style-type: none;
}



</style> 
<br/>
<h1>Latest Blogs</h1>
<br/>
<ul>
{% for post in object_list %}


    <li id="posts"><a href="{% url 'article-detail' post.pk %}">
        
        <div class=>
            {% if post.header_image %}
            <img src="{{ post.header_image.url }}" class="mr-3" style="padding:2px ;max-height: 350px; max-width: 290px; margin-left: 10px;">
            {% endif %}
            <div class="media-body">
              <h5 class="mt-0">{{ post.title }}</h5>
              <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a>  -
        {{ post.author.first_name }}
        {{ post.author.last_name }} - 
        {{ post.post_date }}
            </div>
          </div>
       
        
        <!--{{ post.title }}</a> -
        <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a>  -
        {{ post.author.first_name }}
        {{ post.author.last_name }} - 
        {{ post.post_date }}
        {{ post.author.email }}-->

        {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
        - <small><a href="{% url 'update_post' post.pk %}">(Edit)</a>
        <a href="{% url 'delete_post' post.pk %}">(Delete)</a></small>
        <br/>
        {% endif %}
        {% endif %}
        
    {{ post.snippet }}

</li>

    
{% endfor %}
</ul>



<br/><br/>

<br/>


{% endblock %}